<link href="stylesheets/style.css" type="text/css" rel="stylesheet" />

<section id="main">
	<h1 class="title">Welcome to {{title}}!</h1>
	<div class="body-content">
		<p>
			Using Docker, this application is running 
			independently of the host operating system.
			Say goodbye to the phrase, <strong>"It works on my machine.."</strong>
		</p>
		<div class="whale-image"><img class="whale-image" src="images/whale_0.png" title="Whale"/></div>
	</div>
</section>