body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#main {
	margin: 30px auto;
	width: 700px;
	border-radius: 20px;
	box-shadow: 0px 3px 3px #cccccc;
	overflow:hidden;
}

#main .title {
	padding:20px;
	margin:0px;
	border:solid 1px blue;
	border-bottom:none;
	font-size: 25px;
	color: #ffffff;
	font-weight:bold;
	background: blue;
}

#main .body-content {
	padding: 20px;
}

.whale-image img {
	width:175px;
}
